<app-home></app-home>
<div class=" my-dashboard">
    <div class="container-fluid  ">
  
      <!-- <profile banner start> -->
      <div class="row ">
        <div >
          <h2>MY WELLNESS - EXERCISE </h2>
          <h6>CURRENT GOAL:&nbsp;LOSE WEIGHT &nbsp;<a href="">Edit</a></h6>
        </div>
        <div class="badge col-1">
          <img src="../../../assets/images/icon/badges/exercise.png" width="80px">
        </div>
        <div class="col"></div>
        <div class="point_profile  col-3">
          <div class="profile row">
            <div class="col text-right userProfile">
              <p class="points">{{userPoints}}</p>
              <p class="upoints">Points</p>
              <img src="assets/images/icon/star.png" width="100px" alt="Cinque Terre">
            </div>
            <div class="col text-right ">
              <!-- <img src="assets/images/jane.jpg" class="rounded-circle" width="80px" alt="Cinque Terre"> -->
             <img src="assets/images/icon/user.png" class="rounded-circle" width="80px" alt="profile">  
              <p class="text-center">Katlyn Smith</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <profile banner end> -->
        <br><br>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 select-challenge ">
                    <hr>
                    <h6 class="slogen"><a class="find-challenge" href="">FIND A CHALLENGE</a></h6>
                    <p class="category" >Choose Category :</p>
                    <div class="form-group inputgroup ">   
                <select class="form-control dateInput" [(ngModel)]="Category"  (change)="open($event.target.value)" >
                        <option *ngFor="let items of category" [value]="items.id">{{items.name}}</option>
                      </select>
            </div><br>
            <p class="category">Sub Category :</p>
                    <div class="form-group inputgroup ">   
                <select class="form-control dateInput"  id="sel1" name="sellist1">
                        <option *ngFor="let item of subCategory">{{item.name}}</option>
                      </select>
            </div><br>
            <button type="button" class="user btn btn-sm pull-right ">
                    <span class="logfood">SEARCH CHALLENGE</span>
                    <i class="logfoods fa fa-chevron-right "></i>
                  </button><br><br><br>
            </div>


            
            <div class="col-sm-12 col-md-12 col-lg-8" >
                <div class="challenge p-3">
                  <h4> CHALLENGES</h4>
                  </div>
                 <div class="p-3"  *ngFor="let items of challeng">
                  <h6 >{{items.name}}</h6>
                  <p class="description">
                   {{items.dicription}}
                  </p>
                 <button type="button" class="btn viewChallenge" [value]="items.id" (click)="moredescriptive(items.id)">VIEW OR JOIN CHALLENGE</button>
                 <!-- <p class="p-4" >15 people are signup for this</p> -->
                 </div>
                 <!-- [routerLink]="'/challenge'" -->
                 <!-- <div class="p-3">
                  <p class="description">
                    This 21-day run challenge is designed move you from cardio walking (CW) to jogging to briskly paced runs. We’ve incorporated strength
                    training days that strengthen your leg muscles as well as your bones and joints.
                  </p>
                 <button type="button" class="btn viewChallenge">VIEW OR JOIN CHALLENGE</button>
                 <p class="p-4">15 people are signup for this</p>
                 </div> -->

                 <!-- <div class="p-3">
                  <h6>30-day runing challenge for beginers</h6>
                  <p class="description">
                    This 21-day run challenge is designed move you from cardio walking (CW) to jogging to briskly paced runs. We’ve incorporated strength
                    training days that strengthen your leg muscles as well as your bones and joints.
                  </p>
                 <button type="button" class="btn viewChallenge">VIEW OR JOIN CHALLENGE</button>
                 <p class="p-4">15 people are signup for this</p>
                 </div> -->
                 
            </div>
           
        </div>
    
    


   










      </div></div>