<!-- <app-home></app-home> -->
<div class=" my-dashboard">
    <div class="container-fluid  ">

        <div class="row justify-content-between">
            <div>
                <h2>ADMIN-CRUD CHALLENGES</h2>
                <br>
                <h4>CREATE NEW CHALLENGE</h4>
            </div>
            <div>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link " href="admin/challenges">challenges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin/badges">Badges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin/nutritions">Nutritions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="admin/exercise">Exercise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="admin/manage-member">Manage Member</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link logout"   (click)="logout()">logout</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row p-3">
            <div class="col-md-7">
                 <form [formGroup]="challengeForm" (ngSubmit)="upload()">
                <label>Challenge Title</label><br>
                <input type="text" class="form-control mb-3 col-10"  formControlName="name" placeholder="Title"><br>
                <label>Image Url</label><br>
                <input type="text" class="form-control mb-3 col-10"  formControlName="img_location" placeholder="URL"><br>
                
                <label>Instructions</label><br>
                <input type="text" class="form-control mb-3 col-10"  formControlName="instructions" placeholder="Instructions"><br>
 <br>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label>Category</label>
                        <div class="form-group inputgroup">
                            <select class="form-control dateInput"  formControlName="categoryIDs"   (change)="open($event.target.value)" >
                                <option  *ngFor="let items of categoryData"   [value]="items.id">{{items.name}}</option>                             
                            </select>
                        </div>
                <!-- <input type="text" class="form-control inputgroup"  formControlName="Category" placeholder="Category"><br> -->

                    </div>

                    <div class="col-md-5 mb-3"  >
                        <label >Sub Category</label>
                <!-- <input type="text" class="form-control inputgroup"  formControlName="categoryIDs" placeholder="subCategory"><br> -->

                        <div class="form-group inputgroup" >
                            <select  class="form-control dateInput"  [(ngModel)]="Category" [ngModelOptions]="{standalone: true}" >  
                                <option *ngFor="let subitems of subCategory" [value]="subitems.id">{{subitems.name}}</option>         
                            </select>                           
                        </div>
                    </div>
                </div>
                <!-- <date line start> -->
                <div class="row">
                    <div class=" col-md-3 date">
                        <label>Start date</label>
                        <div class="input-group">
                            <input class="form-control bg-white border-right-0" formControlName="start_date" readonly ngbDatepicker #dd="ngbDatepicker" >
                            <span class="input-group-append bg-white">
                                <button class="btn fa fa-calendar"type="button" (click)="dd.toggle()"></button>
                            </span>
                        </div>
                    </div>
                    <div class=" col-md-3 date">
                        <label>End date</label>
                        <div class="input-group">
                            <input class="form-control bg-white border-right-0" readonly formControlName="end_date" ngbDatepicker #d="ngbDatepicker" >
                            <span class="input-group-append bg-white">
                                <button class="btn fa fa-calendar" (click)="d.toggle()" type="button"></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 date">
                        <label>Daily Points</label><br>
                            <div class="form-group inputgroup" >
                                <select  class="form-control dateInput" [(ngModel)]="selectUserPoint"  formControlName="point_id" >  
                                    <option *ngFor="let item of adminpoints" [value]="item.id">{{item.pointName}}&nbsp;{{item.pointValue}}</option>        
                                </select>                           
                            </div>
                       
                        
                    </div>
                </div>
                <!-- <date line End> -->
                <div class="row">
                    <div class="col-md-6">
                        <label class="employees">Choose participating companies or employees</label>
                        <div class="form-group inputgroup" >
                        <select  class="form-control dateInput select" [(ngModel)]="companyId"  formControlName="active" >
                            <option  *ngFor="let company of companyName" [value]="company.group_id">{{company.name}}&nbsp;</option>
                          </select>
                          </div>
                    </div>
                  
                    <!-- < weekely reminder text option >
                    <div class="col-md-6 checkbox">
                        <div class=" custom-control ">
                            <input type="checkbox" class="custom-control-input"  formControlName="message" id="third">
                            <label class="heading custom-control-label" for="third">Weekly Text Reminders</label>
                        </div>
                    </div> -->

                </div>
                <div class="form-group purple-border">
                    <label for="exampleFormControlTextarea4">Challenge Discription</label>
                    <textarea class="form-control" formControlName="description" rows="5"></textarea>
                </div>
                <button type="submit" [disabled]="challengeForm.invalid" class="btn save">SAVE CHALLENGE</button>
            </form>
            </div>
           
            <div class="browse col-md-5 p-3">
                <label class="file-area">Featured Image</label>

                <div class="col-md-12 browse-file justify-content-center d-flex">
                    <div class="text-center  cloud ">
                        <img src="../../../assets/images/icon/badges/browse.png" width="50%">
                        <h5>Drag and drop or <span class="brows">browse</span></h5>
                    </div>
                </div><br>
                <button class="btn save">UPLOAD/ADD IMAGE</button>
                <br><br>
                <label class="file-area mt-2">Featured Video</label>
                <input type="text" class="form-control mb-3 col-12" id="formGroupExampleInput" placeholder="Embed Code">

                <label class="file-area mt-2">PDF Download File</label><br>
                <button class="btn save">UPLOAD/ADD PDF</button>

            </div>

        </div>


        <table class="table table-borderless mt-3" >
            <thead>
                <tr>
                    <th scope="col" class="col">Challenge TITLE</th>
                    <th scope="col" class="col text-center">Instructions</th>
                    <th scope="col" class="col text-center">Start Date</th>
                    <th scope="col" class="col text-center ">End Date</th>
                    <th scope="col" class="col text-center ">EDIT/DELETE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let items of allChallenges | filter:searchText; let j=index">
                    <td class="col text">{{items.name}}</td>
                    <td class="col text text-center">{{items.instructions}}</td>
                    <td class="col text text-center">{{items.start_date}}</td>
                    <td class="col text text-center">{{items.end_date}}</td> 
                    <td class="col  text-center"><span><i (click)="open(content,items,j)" class="fa fa-edit"></i></span>&nbsp;&nbsp;
                    <span><i (click)="deleteData(items.id)" class="fa fa-trash"></i></span></td>
                </tr>
            </tbody>
        </table>





    </div>
</div>