<app-home></app-home>
<div class=" my-dashboard">
    <div class="container-fluid  ">
  
      <!-- <profile banner start> -->
      <div class="row ">
        <div class="col-5">
          <h2>MY WELLNESS - EXERCISE </h2>
          <h6>CURRENT GOAL:&nbsp;LOSE WEIGHT &nbsp;<a href="">Edit</a></h6>
        </div>
        <div class="col-1">
          <img src="../../../assets/images/icon/badges/exercise.png" width="80px">
        </div>
        <div class="col-lg-3 col-3"></div>
        <div class="point_profile  col-3 ">
          <div class="profile row">
            <div class="col text-right userProfile">
              <p class="points">43</p>
              <p class="upoints">Points</p>
              <img src="assets/images/icon/star.png" width="100px" alt="Cinque Terre">
            </div>
            <div class="col text-right ">
              <img src="assets/images/jane.jpg" class="rounded-circle" width="80px" alt="Cinque Terre">
              <p class="text-center">Katlyn Smith</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <profile banner end> -->
        <br><br>
     <div class="row">
    <div class="col-md-4 col-sm-4 col-lg-2">
        <button type="button" class="user btn btn-sm" [routerLink]="'/join-challenge'" >
            <span class="logfood">JOIN CHALLENGE</span>
            <i class="logfoods fa fa-chevron-right "></i>
          </button>
          <label class="number">15 people are signed up for this!</label>
    </div> 
    

    <div class="col-md-12 col-sm-12 col-lg-10">
     
       <h4>21-DAY LEARN TO RUN CHALLENGE</h4>
       <div class="row">
         <div class="col-6">
       <label class="details ">If you’re not a runner, you may not know every runner’s best kept secret: running is fun! Sure, starting out takes a bit of effort, 
         but once you’ve built enough endurance to keep your stride for miles, you’ll find yourself loving your new favorite form of exercise. 
         Running is an art. It takes an artist to synchronize your breath with your arm and leg movements, and keep your stride stable. And our running challenge is designed to 
         turn you into one.
      <p>This 21-day run challenge is designed move you from cardio walking (CW) to jogging 
          to briskly paced runs. We’ve incorporated strength training days that strengthen your 
          leg muscles as well as your bones and joints.
      </p>
      CW: During your cardio walks, you will walk at a fast pace, while keeping your arms at 
      chest level and swinging them front to back–just as when running. We call this a 
      cardio walk because of its cardiovascular and fat burning benefits.
        </label>
      </div>
        <div class="col-5">
          <img src="../../../assets/images/icon/runing.png" width="90%">
        </div>
       
        </div>
      <!-- <p></p> -->
     
        <h6>21-Day Learn to Run Challenge</h6>
        <p> Day 1: ½ mile jog (The best way to gauge where you are is to push yourself on day 1. )</p>
       <p>Day 2: ½ mile CW, ½ mile jog, ½ mile CW</p>  
       <p>Day 3: In order to run strong and fast, you’ll need to build more muscle. Our Runner’s Strength Training Workout will target all the right 
         muscles to make your next run stronger than your last.</p>
         
      </div> 
  

    </div>











      </div></div>