<app-home></app-home>

<div class=" my-dashboard">
    <div class="container-fluid  ">
  
      <!-- <profile banner start> -->
      <div class="row ">
        <div class="col-5">
          <h2>MY WELLNESS - EXERCISE </h2>
          <h6>CURRENT GOAL:&nbsp;LOSE WEIGHT &nbsp;
            <!-- <a href="">Edit</a> -->
            <a href="https://saluslifestyles.com/my-profile/">Edit</a>
          </h6>
        </div>
        <div class="col-1">
          <img src="../../../assets/images/icon/badges/exercise.png" width="80px">
        </div>
        <div class="col-lg-3 col-3"></div>
        <div class="point_profile  col-3 ">
          <div class="profile row">
            <div class="col text-right userProfile">
              <p class="points">{{userPoints}}</p>
              <p class="upoints">Points</p>
              <img src="assets/images/icon/star.png" width="100px" alt="Cinque Terre">
            </div>
            <div class="col text-right ">
              <img src="assets/images/icon/user.png" class="rounded-circle" width="80px" alt="Cinque Terre">
              <p class="text-center">Katlyn Smith</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <profile banner end> -->
        <br><br>
     <div class="row">
    <div class="col-md-4 col-sm-4 col-lg-2">
        <button type="button" class="user btn btn-sm" (click)="joinChallenge()" >
            <span class="logfood">JOIN CHALLENGE</span>
            <i class="logfoods fa fa-chevron-right "></i>
          </button>
          <label class="number">15 people are signed up for this!</label>
    </div> 
    

    <div class="col-md-12 col-sm-12 col-lg-10" >
     
       <h4> {{category.name}} </h4>
       <div class="row">
         <div class="col-6">
       <label class="details ">{{category.description}}
      <p>{{category.instructions}}</p>
 
        </label>
      </div>
        <div class="col-5">
          <img src="{{category.img_location}}" alt="challenge image not loaded" width="100%">
        </div>
       
        </div>
      <!-- <p></p> -->
     
        <!-- <h6>21-Day Learn to Run Challenge</h6>
        <p> Day 1: ½ mile jog (The best way to gauge where you are is to push yourself on day 1. )</p>
       <p>Day 2: ½ mile CW, ½ mile jog, ½ mile CW</p>  
       <p>Day 3: In order to run strong and fast, you’ll need to build more muscle. Our Runner’s Strength Training Workout will target all the right 
         muscles to make your next run stronger than your last.</p> -->
         
      </div> 
  

    </div>











      </div></div>