<app-home></app-home>

<div class=" my-dashboard">
  <div class="container-fluid  ">

    <div class="row ">
      <div class="col-sm-6 col-md-8 col-lg-9">
        <h3>MY WELLNESS DASHBOARD </h3>
        <h6>CURRENT GOAL:&nbsp;LOSE WEIGHT &nbsp;<a href="">Edit</a></h6>
      </div>
      <!-- <div ></div> -->
      <div class="point_profile col-sm-6 col-md-4 col-lg-3 ">
        <div class="profile row">
          <div class="col text-right userProfile">
            <p class="points">43</p>
            <p class="upoints">Points</p>
            <img src="assets/images/icon/star.png" width="100px" alt="Cinque Terre">
          </div>
          <div class="col text-right ">
            <img src="assets/images/jane.jpg" class="rounded-circle" width="80px" alt="Cinque Terre">
            <p class="text-center">Katlyn Smith</p>
          </div>
        </div>
      </div>
    </div>


    <!-- <weekly progress  section start> -->

    <div class="row justify-content-center">

      <div class="animation col-sm-12 col-md-4 col-lg-2 p-1">
        <div class="items text-center bg-white">
          <h4 class="nutrition">Nutrition</h4>
          <circle-progress [percent]="70" radius="67" [outerStrokeWidth]="12" [innerStrokeWidth]="12" [space]="-12"
            [showUnits]="false" [outerStrokeColor]="'#83b752'" [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="32"
            [titleColor]=" '#83b752' " [subtitleFontSize]="22" [animation]="true" [animationDuration]="300"
            [subtitle]="'Kcel'" [showSubtitle]="true" [title]="2340" [showTitle]="true" [startFromZero]="false"
            [responsive]="false"> </circle-progress>
          <button type="button" class="user btn btn-default  ">
            <img class="pull-left icon" src="assets/images/icon/apple.png"><span class="logfood">&nbsp;LOG FOOD
              &nbsp;</span>
            <i class="logfood fa fa-chevron-right pull-right"></i>
          </button>
          <p class="day_left">260 To Go Today</p>
        </div>
      </div>
      <div class=" col-sm-12 col-md-4 col-lg-2 p-1">
        <div class="items text-center bg-white">
          <h4 class="exercise">Exercise</h4>
          <circle-progress [percent]="80" radius="67" [outerStrokeWidth]="12" [innerStrokeWidth]="12" [space]="-12"
            [showUnits]="false" [outerStrokeColor]="'#a7163e'" [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="32"
            [titleColor]=" '#a7163e' " [subtitleFontSize]="22" [animation]="true" [animationDuration]="300"
            [subtitle]="'Burned'" [showSubtitle]="true" [title]="360" [showTitle]="true" [startFromZero]="false"
            [responsive]="false"> </circle-progress>
          <button type="button" class=" workout  btn btn-default ">
            <img class="pull-left icon" src="assets/images/icon/workout.png"><span class="logfood">LOG WORKOUT</span>
            <i class="logfood fa fa-chevron-right pull-right"></i>
          </button>
          <p class="day_left">140 To Go Today</p>
        </div>
      </div>

      <div class=" col-sm-12 col-md-4 col-lg-2 p-1">
        <div class="items text-center bg-white">
          <h4 class="daily-task">Daily Tasks</h4>
          <circle-progress [percent]="60" radius="67" [outerStrokeWidth]="12" [innerStrokeWidth]="12" [space]="-12"
            [showUnits]="false" [outerStrokeColor]="'#e77428'" [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="32"
            [titleColor]=" '#e77428' " [subtitleFontSize]="22" [animation]="true" [animationDuration]="300"
            [subtitle]="'Points'" [showSubtitle]="true" [title]="4" [showTitle]="true" [startFromZero]="false"
            [responsive]="false"> </circle-progress>
          <button type="button" class=" checkin  btn btn-default  ">
            <img class="pull-left icon" src="assets/images/icon/check-in.png"><span class="logfood">&nbsp;CHECK IN
              &nbsp;</span>
            <i class="logfood fa fa-chevron-right pull-right"></i>
          </button>
          <p class="point_left">30 Points To Go This Week</p>
        </div>
      </div>
      <!-- <weekly progress  section end> -->
      <!-- <challenges section start> -->
      <div class=" col-sm-12 col-md-12 col-lg-6 p-1">
        <div class=" challenge_section bg-white text-center p-2">
          <hr>
          <h5 class="slogen"><a class="challenge" href="">CHALLENGES</a></h5>
          <div class="row">

            <div class=" col-md-4 col-sm-12">
              <p class="current-challenge">CURRENT CHALLENGE:</p>
              <h4 class="daily-challenge">1 Mile A Day Challenge</h4>
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="row">
                <div class="col weak-day">
                  <p>SUN</p>
                  <p><img src="assets/images/icon/tick.png"></p>
                </div>
                <div class="col weak-day">
                  <p>MON</p>
                  <p><img src="assets/images/icon/tick.png"></p>
                </div>
                <div class="col weak-day">
                  <p>TUE</p>
                  <p><img src="assets/images/icon/uncheck.png"></p>
                </div>
                <div class="col weak-day">
                  <p>WED</p>
                  <p><img src="assets/images/icon/tick.png"></p>
                </div>
                <div class="col weak-day">
                  <p>THU</p>
                  <p><img src="assets/images/icon/uncheck.png"></p>
                </div>
                <div class="col weak-day">
                  <p>FRI</p>
                  <p><img src="assets/images/icon/uncheck.png"></p>
                </div>
                <div class="col weak-day">
                  <p>SAT</p>
                  <p><img src="assets/images/icon/uncheck.png"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <challenges section End> -->
        <!-- <leader board section start> -->

        <div class="p-1 leaderboard">
          <div class="p-3">
            <div class="row">
              <div class=" leaders col-6 ">
                <p class="current-challenge">LEADER BOARD:</p>
              </div>
              <div class=" leaders col-6 ">
                <p class="leader pull-right"><a href="">VIEW FULL LEADERBOARD</a></p>
              </div>

              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row topten justify-content-center">

                  <div class="col user-status ">
                    <img src="assets/images/jane.jpg" class="rounded-circle" width="45px" alt="Cinque Terre">
                    <span class="badge"><img class="badge-img" src="assets/images/icon/starlead.png">
                      <p class="First">1</p>
                    </span>
                  </div>

                  <div class="col user-status ">
                    <span><img src="assets/images/jane.jpg" class="rounded-circle" width="45px" alt="Cinque Terre">
                      <span class="badge"><img class="badge-img" src="assets/images/icon/status.png">
                        <p class="no">2</p>
                      </span></span>
                  </div>
                  <div class="col user-status ">
                    <span><img src="assets/images/jane.jpg" class="rounded-circle" width="45px" alt="Cinque Terre">
                      <span class="badge"><img class="badge-img" src="assets/images/icon/status.png">
                        <p class="no">3</p>
                      </span></span>
                  </div>
                  <div class="col user-status">
                    <span><img src="assets/images/jane.jpg" class="rounded-circle" width="45px" alt="Cinque Terre">
                      <span class="badge"><img class="badge-img" src="assets/images/icon/status.png">
                        <p class="no">4</p>
                      </span></span>
                  </div>
                  <div class="col user-status">
                    <span><img src="assets/images/jane.jpg" class="rounded-circle" width="45px" alt="Cinque Terre">
                      <span class="badge"><img class="badge-img" src="assets/images/icon/status.png">
                        <p class="no">5</p>
                      </span></span>
                  </div>
                  <div class="col user-status">
                    <span><img src="assets/images/jane.jpg" class="rounded-circle" width="45px" alt="Cinque Terre">
                      <span class="badge"><img class="badge-img" src="assets/images/icon/status.png">
                        <p class="no">6</p>
                      </span></span>
                  </div>
                  <div class="col user-status">
                    <span><img src="assets/images/jane.jpg" class="rounded-circle" width="45px" alt="Cinque Terre">
                      <span class="badge"><img class="badge-img" src="assets/images/icon/status.png">
                        <p class="no">7</p>
                      </span></span>
                  </div>
                  <div class="col user-status">
                    <span><img src="assets/images/jane.jpg" class="rounded-circle" width="45px" alt="Cinque Terre">
                      <span class="badge"><img class="badge-img" src="assets/images/icon/status.png">
                        <p class="no">8</p>
                      </span></span>
                  </div>
                  <div class="col user-status">
                    <span><img src="assets/images/jane.jpg" class="rounded-circle" width="45px" alt="Cinque Terre">
                      <span class="badge"><img class="badge-img" src="assets/images/icon/status.png">
                        <p class="no">9</p>
                      </span></span>
                  </div>
                  <div class="col user-status">
                    <span><img src="assets/images/jane.jpg" class="rounded-circle" width="45px" alt="Cinque Terre">
                      <span class="badge"><img class="badge-img" src="assets/images/icon/status.png">
                        <p class="no">10</p>
                      </span></span>
                  </div>

                </div>

                <div class="full-text">
                  <button type="button" class="btn btn-default Progress_btn  ">
                    <img class="pull-left icon" src="assets/images/icon/check-in.png"><span class="logfood">&nbsp;Record
                      Progress &nbsp;</span>
                    <i class="logfood fa fa-chevron-right pull-right"></i>
                  </button>

                  <a href="" class=" btn-default Next_challenge ">&nbsp;FIND YOUR NEXT CHALLENGE &nbsp;</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- <leader board section End> -->
      <!-- Weekly Assessments start here -->
      <!-- <div class="row "> -->
      <div class=" col-sm-12 col-md-12 col-lg-6 p-1">
        <div class=" challenge_section bg-white text-center p-2">
          <hr>
          <h5 class="slogen"><a class="challenge" href="">WEEKLY ASSESMENTS</a></h5>
          <div class="row">

            <div class=" col-md-4 col-sm-12">
              <div class="btn-group">
                <button type="button" class="btn userSelection dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Nutrition
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              <div class="weeklyText">
                <h4 class="weeklyChallenge">Nutrition Goal: 2340 Kcel</h4>
                <p class="sucessRate">75% Success Rate</p>
              </div>
            </div>
            <div class=" col-md-8 col-sm-12">
              <div class="row">
                <div class="col weak-day">
                  <div class="initialSign">
                    <p class="weeklySign"><img src="assets/images/icon/none.png" alt=""></p>
                  </div>
                  <div class="progress justify-content-center  progress-bar-vertical">
                    <div class="progress-bar progress-bar-nutrition" role="progressbar" aria-valuenow="30"
                      aria-valuemin="0" aria-valuemax="100" style="height: 70%;">
                      <span class="sr-only">30% Complete</span>
                    </div>
                  </div>
                  <div>
                    <p class="weekDaysName">SUN</p>
                  </div>
                </div>

                <div class="col weak-day">
                  <div class="initialSign">
                    <p class="weeklySign"><img src="assets/images/icon/caution.png"></p>
                  </div>
                  <div class="progress justify-content-center  progress-bar-vertical">
                    <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                      aria-valuemax="100" style="height: 100%;">
                      <span class="sr-only">30% Complete</span>
                    </div>
                  </div>
                  <div>
                    <p class="weekDaysName">MON</p>
                  </div>
                </div>

                <div class="col weak-day">
                  <div class="initialSign">
                    <p class="weeklySign"><img src="assets/images/icon/none.png" alt=""></p>
                  </div>
                  <div class="progress justify-content-center  progress-bar-vertical">
                    <div class="progress-bar progress-bar-nutrition" role="progressbar" aria-valuenow="30"
                      aria-valuemin="0" aria-valuemax="100" style="height: 50%;">
                      <span class="sr-only">30% Complete</span>
                    </div>
                  </div>
                  <div>
                    <p class="weekDaysName">TUE</p>
                  </div>
                </div>

                <div class="col weak-day">
                  <div class="initialSign">
                    <p class="weeklySign"><img src="assets/images/icon/starlead.png"></p>
                  </div>
                  <div class="progress justify-content-center  progress-bar-vertical">
                    <div class="progress-bar progress-bar-nutrition" role="progressbar" aria-valuenow="30"
                      aria-valuemin="0" aria-valuemax="100" style="height: 100%;">
                      <span class="sr-only">30% Complete</span>
                    </div>
                  </div>
                  <div>
                    <p class="weekDaysName">WED</p>
                  </div>
                </div>

                <div class="col weak-day">
                  <div class="initialSign">
                    <p class="weeklySign"><img src="assets/images/icon/starlead.png"></p>
                  </div>
                  <div class="progress justify-content-center  progress-bar-vertical">
                    <div class="progress-bar progress-bar-nutrition" role="progressbar" aria-valuenow="30"
                      aria-valuemin="0" aria-valuemax="100" style="height: 100%;">
                      <span class="sr-only">30% Complete</span>
                    </div>
                  </div>
                  <div>
                    <p class="weekDaysName">THU</p>
                  </div>
                </div>
                <div class="col weak-day">
                  <div class="initialSign">
                    <p class="weeklySign"><img src="assets/images/icon/none.png" alt=""></p>
                  </div>
                  <div class="progress justify-content-center  progress-bar-vertical">
                    <div class="progress-bar progress-bar-nutrition" role="progressbar" aria-valuenow="30"
                      aria-valuemin="0" aria-valuemax="100" style="height: 0%;">
                      <span class="sr-only">30% Complete</span>
                    </div>
                  </div>
                  <div>
                    <p class="weekDaysName">FRI</p>
                  </div>
                </div>
                <div class="col weak-day">
                  <div class="initialSign">
                    <p class="weeklySign"><img src="assets/images/icon/none.png" alt=""></p>
                  </div>
                  <div class="progress justify-content-center  progress-bar-vertical">
                    <div class="progress-bar progress-bar-nutrition" role="progressbar" aria-valuenow="30"
                      aria-valuemin="0" aria-valuemax="100" style="height: 0%;">
                      <span class="sr-only">30% Complete</span>
                    </div>
                  </div>
                  <div>
                    <p class="weekDaysName">SAT</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Weekly Assessments end here -->
      <!-- Earned Badges Start here -->
      <div class=" col-sm-12 col-md-12 col-lg-6 p-1">
        <div class=" challenge_section text-center p-2">
          <hr>
          <h5 class="slogen "><a class="challenge earned" href="">EARNED BADGES</a></h5>
          <div class="row">
            <div class="col badges"><img class="img-fluid" src="assets/images/icon/badges/best_price.png"></div>
            <div class="col badges"><img class="img-fluid" src="assets/images/icon/badges/high_quality.png"></div>
            <div class="col badges"><img class="img-fluid" src="assets/images/icon/badges/premium.png"></div>
            <div class="col badges"><img class="img-fluid" src="assets/images/icon/badges/hot_deal.png"></div>
            <div class="col badges"><img class="img-fluid" src="assets/images/icon/badges/best_choice.png"></div>
          </div>

        </div>
        <div class="p-3"><button type="button" class="btn btn-default Progress_btn  ">
            <span class="logfood">&nbsp;SELL ALL YOUR BADGES &nbsp;</span>
            <i class="logfood fa fa-chevron-right pull-right"></i>
          </button>

          <a href="" class=" btn-default more_badges p-2 ">&nbsp;EARN MORE BADGES &nbsp;</a>
        </div>
      </div>
      <!-- Earned Badges End here -->


    </div>


  </div>

</div>