<app-home></app-home>
<div class=" my-dashboard">
    <div class="container-fluid  ">

        <div class="row justify-content-between">
            <h2>REGISTER AND GET STARTED! - ONLY $9.99/MO</h2>

            <div class="employeeForm col-md-7">
                <div class=" user-form bg-white ">
                    <div class="col-md-6  form-group ">
                        <label class="input-label">Employer Sponser Code</label>
                        <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Password">
                    </div>
                    <label class="register">If you would like your employer to sponsor your membership <span
                            class="membership">Click Here!</span></label>
                    <label class="inputField input-label">Name:<span style="color: red;">*</span></label>
                    <div class="row inputField">
                        <div class="col-md-6  form-group ">
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="First">
                        </div>
                        <div class="col-md-6  form-group ">
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Last">
                        </div>
                    </div>



                    <div class="row inputField">
                        <div class="col-md-6  form-group ">
                            <label class=" input-label">EMAIL:<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="First">
                        </div>
                        <div class="col-md-6  form-group ">
                            <label class=" input-label">PHONE:<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Last">
                        </div>
                    </div>


                    <div class="row inputField">
                        <div class="col-md-6  form-group ">
                            <label class=" input-label">CHOOSE A PASSWORD:<span style="color: red;">*</span></label>
                            <input type="password" class="form-control" id="formGroupExampleInput" placeholder="*****">
                        </div>
                        <div class="col-md-6  form-group ">
                            <label class="input-label ">CONFIRM PASSWORD:</label>
                            <input type="password" class="form-control" id="formGroupExampleInput" placeholder="*****">
                        </div>
                    </div>



                </div>
            </div>

            <div class="billingMethod col-md-5">
                <div class="user-form">
                    <div class="col-md-9 col-sm-12 form-group ">
                        <label class="billing-input-label">CHOOSE BILLING CYCLE</label>
                        <select class=" custom-select">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <label class="register">&nbsp;</label>
                    <div class="col-md-9  form-group ">
                        <label class="billing-input-label">Credit Card Holder Name:<span style="color: red;">*</span></label>
                        <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Password">
                    </div>

                    <div class="col-md-12 form-group">
                        <label class="billing-input-label">Card number</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="cardNumber" placeholder="">
                            <div class="input-group-append">
                                <span class="input-group-text text-muted">
                                    <i class="fa fa-cc-visa"></i>   <i class="fa fa-cc-amex"></i>  
                                    <i class="fa fa-cc-mastercard"></i>
                                </span>
                            </div>
                        </div>
                    </div> <!-- form-group.// -->

                    <div class="col-md-12 row expiration">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label ><span class="billing-input-label hidden-xs">Expiration</span> </label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="MM" name="">&nbsp;&nbsp;
                                    <input type="number" class="form-control" placeholder="YY" name="">&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                            <label class="security-label"><span class=" security-label hidden-xs"> Security Code: </span> </label>
                                <!-- <input type="number" class="form-control" required=""> -->
                                <div class="input-group">
                                    <input type="text" class="form-control" name="cardNumber" placeholder="">
                                    <div class="input-group-append">
                                        <span class="input-group-text text-muted">
                                            <i class="fa fa-cc-mastercard"></i>
                                        </span>
                                    </div>
                                </div>
                            </div> <!-- form-group.// -->
                        </div>
                    </div> <!-- row.// -->


                </div>
            </div>



        </div>

        <div class="text-center">
            <button type="button" class="justify-content-center user btn btn-default  ">
                <span class="logfood">&nbsp;JOIN NOW &nbsp;</span>
            </button>
        </div>

    </div>
</div>