<nav class="navbar navbar-custom navbar-expand-lg navbar-dark bg-dark">

  <div class="navbar-title d-flex">
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">SALUS</a>
  </div>


  <div class="d-flex flex-row m-4 order-2 order-sm-2 order-md-2 order-lg-2 " aria-busy="true">
    <ul class="navbar-nav flex-row">
      <li class="nav-item "><a class="nav-link px-2" href="#"><i class="fa fa-facebook"></i></a></li>
      <li class="nav-item "><a class="nav-link px-2" href="#"><i class="fa fa-youtube"></i></a></li>
      <li class="nav-item "><a class="nav-link px-2" href="#"><i class="fa fa-twitter"></i></a></li>
      <li class="nav-item "><a class="nav-link px-2" href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
    <div class="row userdata">
      <p class="username">Hi Katlyn <span><br><img class="staricon" src="assets/images/icon/starlead.png"
            width="14px">43 pts</span></p>
      <p class="username"><img class="rounded-circle" src="assets/images/jane.jpg" width="40px"></p>
    </div>

  </div>
  <div class="collapse  navbar-collapse order-3 order-sm-3 order-md-3 order-lg-1" id="navbarNavDropdow">
    <ul class="navbar-nav  mx-auto ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nutrition">Nutrition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/exercise">Exercise</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="daily-task">Daily Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="choose-challenge">Challenge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
      </li>

    </ul>
  </div>


</nav>



<div class="col-xs-1 p-l-0 p-r-0 collapse in" id="navbarNavDropdown" aria-expanded="false">
  <div class="list-group panel">
    <div class="profile clearfix list-group-item collapsed" data-parent="#sidebar">
      <div class="profile_pic">
        <img src="assets/images/jane.jpg" class="rounded-circle" width="80px" alt="Cinque Terre">
      </div>
      <div class="profile_info">
        <p class="username">Katelyn Smith</p>
        <p class="username "><img class="badge-img" src="assets/images/icon/starlead.png"><span class="First">43
            points</span></p>
        <p><a class="username profile" href="#">View Profile</a></p>
      </div>
    </div>
    <!-- <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i> <span class="hidden-sm-down">Home</span></a> -->
    <a href="dashboard" class="list-group-item collapsed" data-parent="#sidebar"><img
        src="assets/images/icon/greenapple.png"><span class="hidden-sm-down"> Nutration</span></a>
    <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><img
        src="assets/images/icon/exercise.png"><span class="hidden-sm-down">Exercise</span></a>
    <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><img
        src="assets/images/icon/dailytask.png"><span class="hidden-sm-down">Daily Tasks</span></a>
    <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><img
        src="assets/images/icon/challenge.png"><span class="hidden-sm-down">Challenge</span></a>
    <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><img src="assets/images/icon/profile.png"><span
        class="hidden-sm-down">Profile</span></a>
    <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><img src="assets/images/icon/login.png"><span
        class="hidden-sm-down">Login</span></a>
  </div>
</div>
