.navbar-brand{
    font-size : 65px;
    font-family: Montserrat;
    color: #7c7c7c;
    text-shadow: 0 0 0 rgba(0, 0, 0, .2);
    letter-spacing: 4px;
    font-weight: bold !important;
    font-size: calc(14px + 3vw);
}
.navbar-custom {
    background-color: black !important;
}
.navbar{
    padding:0px !important;
}
@media (max-width: 1400px){
.navbar-brand{
    margin-left: 60px;
}}
@media (max-width: 990px){
    .navbar-brand{
        margin-left: 0px;
    }}

.nav-link{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    font-size: 17px;
    line-height: normal;
    font-family: Roboto-Medium;
    color: #828282!important;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}
}
@media (min-width: 990px){
.userdata {
 display: none;
}
}
@media (max-width: 990px){
    .navbar-nav{
     display: none;
    }
}

@media (max-width: 1092px){
    .nav-link{
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }
    }
    @media (max-width: 1178px){
        .nav-link{
            padding-right: 0.5rem !important;
            padding-left: 0.5rem !important;
        }}

    .navbar-toggler{
        border:none;
    }


 .list-group-item {
    border-radius: 0;
    background-color: #000000;
    color: #ccc;
    border-color: #000000;
    white-space: nowrap;
   
}
.username{
    line-height: 1.5em;
    margin-bottom: 0px;
    color: #e3e8eb;
}
.profile{
 display: block;
}
.profile_pic{
    max-width: 35%;
    display: inline-block;
}
.profile{
    text-decoration: underline;
}
.profile_info{
    display: inline-block;
    position: absolute;
    margin: 0px 0 0 20px;
}
#navbarNavDropdown{
position: absolute;
z-index: 5;
padding: 0px;
width: 280px;
}
.staricon{
    padding-bottom: 5px;
}
.badge-img{
    width: 18px;
}
#navbarNavDropdown .list-group-item .hidden-sm-down{
    padding-left: 15px;
}

/* highlight active menu */
 .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
.list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

@media  (min-width:990px) {
    /* overlay sub levels on small screens */
    #navbarNavDropdown[aria-expanded="false"]  {
      display:none;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

