<!-- <app-home></app-home> -->
<div class=" my-dashboard">
    <div class="container-fluid  ">
        <div class="row justify-content-between">
            <div>
                <h2>ADMIN-CRUD NUTRITION</h2>
                <br>
                <h5>ADD NEW FOOD ITEMS</h5>
            </div>
            <div>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link " href="admin/challenges">challenges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin/badges">Badges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin/nutritions">Nutritions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin/exercise">Exercise</a>
                    </li>
                       <li class="nav-item">
                        <a class="nav-link " href="admin/manage-member">Manage Member</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link logout"   (click)="logout()">logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <form [formGroup]="nutritionForm" (ngSubmit)="upload()">
        <div class="row">
            <div class="col-md-5 formField">
                <label> Title</label>
                <input type="text" class="form-control mb-3 " formControlName="name" id="formGroupExampleInput">
            </div>

            <div class="col-md-1 formField">
                <label>Calories</label>
                <input type="text" class="form-control mb-3" formControlName="calories" >
            </div>
            <div class="col-md-1 formField">
                <label>Protein</label>
                <input type="text" class="form-control mb-3" formControlName="proteins">
            </div>
            <div class="col-md-1 formField">
                <label>Carbs</label>
                <input type="text" class="form-control mb-3" formControlName="carbs">
            </div>
            <div class="col-md-1 formField">
                <label>Fats</label>
                <input type="text" class="form-control mb-3" formControlName="fats">
            </div>
            <div class="col-md-1 formField">
                <label>Sugar</label>
                <input type="text" class="form-control mb-3" formControlName="sugars">
            </div>

            <div class="col-md-2 mt-3 formField">
                <button type="submit" [disabled]="nutritionForm.invalid" class="btn add mt-3">ADD FOOD ITEM</button>
            </div>
        </div>
</form>
        <br>

        <div class="row mt-3 mb-2">
            <h5>EDIT OR DELETE FOOD ITEMS</h5>
            <div class="search input-group col-md-4 col-sm-12 ml-auto">
                <input class="search form-control py-2" type="search" [(ngModel)]="searchText" id="example-search-input"
                    placeholder="Search">
                <span class="input-group-append">
                    <button class="btn search-btn" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>

            <table class="table table-borderless mt-3" >
                <thead>
                    <tr>
                        <th scope="col" class="col-md-6">FOOD TITLE</th>
                        <th scope="col" class="col-md-3 text-center">DATE ADDED</th>
                        <th scope="col" class="col-md-3 text-center ">EDIT/DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let items of tableData | filter:searchText; let j=index">
                        <td class="foodtext">{{items.name}}</td>
                        <td class="text">{{items.created_at}}</td>
                        <td class="text-center"><span><i (click)="open(content,items,j)" class="fa fa-edit"></i></span>&nbsp;&nbsp;
                            <span><i (click)="deleteData(items.id)" class="fa fa-trash"></i></span></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>




<ng-template #content let-c="close" let-d="dismiss">

    <h4 class="text-center claim mt-3 mb-3">EDIT EXERCISE ITEM</h4>
    <div class="m-auto col-md-10 mb-4">
        <label>Title</label>
        <input type="text" [(ngModel)]="modaldata.name" class="form-control mb-3 "  placeholder="sikling,downfall">
    </div>
    <div class="row justify-content-center mb-4">

        <div class="col-md-2 ">
            <label>Calories</label>
            <input type="text"  [(ngModel)]="modaldata.calories" class="form-control mb-3 "  placeholder="Last">
        </div>

        <div class="col-md-2 ">
            <label>Protein</label>
            <input type="text" [(ngModel)]="modaldata.protein" class="form-control mb-3 "  placeholder="Last">
        </div>

        <div class="col-md-2 ">
            <label>Carbs</label>
            <input type="text" [(ngModel)]="modaldata.carbs" class="form-control mb-3 "  placeholder="Last">
        </div>

        <div class="col-md-2 ">
            <label>Fats</label>
            <input type="text" [(ngModel)]="modaldata.fats" class="form-control mb-3 "  placeholder="Last">
        </div>

        <div class="col-md-2">
            <label>Sugar</label>
            <input type="text" [(ngModel)]="modaldata.sugar" class="form-control mb-3 "  placeholder="Last">
        </div>

    </div>

    <div class="row justify-content-center mb-5">
        <button class="btn btn-md submit" (click)="updateData()">SAVE CHANGES</button>
    </div>

</ng-template>